
.name {
    background-color: #00000074;
}

.title {
    background-color: #00000074;
}



.img {
    border-radius: 50%;
    max-width: 300px;
    box-shadow: 10px 10px #2b4681;
    
}

.image {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.hover-text {
    position: relative;
    top: -60px;
}

.tech-stack {
    color: white;
    font-size: .75em;
}

.link {
    color: white;
    font-weight: 600;
}

.link:hover {
    color: black;
}

.media-body {
    text-align: center;

}

#skills {
    text-decoration: underline;
    position: relative;
    left: -30px;
}

#about {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about-container {
    text-align: center;
}

h2 {
    text-decoration: underline;
}

.resume {
    position: relative;
    bottom: -10px;
    color: white;
    border: 2px solid #2b4681;
    border-radius: 10px;
    padding: 10px;
}

.resume:hover {
    
    color: white;
    text-decoration: none;
    background-color: #2b4681;
}