
.name {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.177), rgba(0, 0, 0, 0.553), rgba(0, 0, 0, 0.177));
}

.title {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.177), rgba(0, 0, 0, 0.553), rgba(0, 0, 0, 0.177));
}


.img {
    border-radius: 50%;
    max-width: 300px;
    box-shadow: 10px 10px #2b4681;
    
}

.image {
    position: relative;
    top: -35px;
}

.hover-text {
    position: relative;
    top: -60px;
}

.tech-stack {
    color: white;
    font-size: .75em;
}

.link {
    font-size: 1.3em;
    color: white;
    font-weight: 600;
}

.link:hover {
    color: black;
}

.media-body {
    text-align: center;

}

#skills {
    text-decoration: underline;
    position: relative;
    /* left: -30px; */
}

#about {
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
}


h2 {
    text-decoration: underline;
}

.resume {
    position: relative;
    bottom: -10px;
    color: white;
    border: 2px solid #2b4681;
    border-radius: 10px;
    padding: 10px;
}

.resume:hover {
    
    color: white;
    text-decoration: none;
    background-color: #2b4681;
}

#bars {
    position: relative;
    bottom: -50px;
}

.contact-title {
    
    text-align: center;
}

#address {
    display: flex;
    justify-content: center;
}



